<div class="alignleft">

  <% if (config.author){ %>
  
      &copy; 2017-<%= new Date().getFullYear() %> &nbsp;&nbsp; version@1.0.0 &nbsp;&nbsp; <%= config.author %>
  
  <% } else { %>
  
      @version 1.0.0 &copy; <%= new Date().getFullYear() %> <%= config.title %>  
  
  <% } %>
  
  <font style="float: right">
</div>
<div class="clearfix"></div>
