.entry
  .gist
    background #F0F0F0
    border 1px solid color-border
    margin-top 15px
    padding 7px 15px
    border-radius 2px
    text-shadow 0 0 1px #fff
    line-height 1.4
    overflow auto
    color #666
    .gist-file
      border none
      font-family Microsoft-YaHei
      margin 0
      font-size 0.9em
      .gist-data
        background none
        border-bottom none
        pre
          padding 0 !important
          font-family font-mono
      .gist-meta
        background none
        color color-meta
        margin-top 5px
        padding 0
        text-shadow 0 0 1px #fff
        font-size 100%
        a
          color color-link
          &:visited
            color color-link

figure.highlight
  background #F6F6F6
  margin-top 10px
  padding 0px
  border-radius 2px
  text-shadow 0 0 1px #fff
  line-height 1.4
  overflow auto
  position relative
  font-size 0.9em
  figcaption
    color color-meta
    margin-bottom 4px
    text-shadow 0 0 1px #fff
    a
      position absolute
      right 15px

  pre
    overflow-y hidden
    overflow-x auto
    border none
    padding 0px
    font-family monospace
 
  table
    margin-top 0
    border-spacing 0

  .gutter
    width 30px
    color color-meta
    padding-right 5px
    border-right 1px solid color-border
    text-align right
	
  .code
    width 768px
    padding-left 5px
    border-left 1px solid #fff
    color #333333
	
  .nine
    display: inline-block

  .line
    display: inline-block
	
  .marked
    width 100%
    background: #E6E6E6

figcaption
  padding-left 8px
  padding-top 2px
  border-bottom: 1px solid color-border

pre
  .comment
  .template_comment
  .diff .header
  .doctype
  .pi
  .lisp .string
  .javadoc
    color #8686A5
    font-style Roboto-Regular

  .keyword
  .winutils
  .method
  .addition
  .css .tag
  .request
  .status
  .nginx .title
    color #a41acf

  .number
  .command
  .string
  .tag .value
  .phpdoc
  .tex .formula
  .regexp
  .hexcolor
    color #228B22

  .title
  .localvars
  .chunk
  .decorator
  .built_in
  .identifier
  .vhdl
  .literal
  .id
    color #d18613

  .attribute
  .variable
  .lisp .body
  .smalltalk .number
  .constant
  .class .title
  .parent
  .haskell .type
    color #e13406 

  .preprocessor
  .preprocessor .keyword
  .shebang
  .symbol
  .symbol .string
  .diff .change
  .special
  .attr_selector
  .important
  .subst
  .cdata
  .clojure .title
    color #cb4b16

  .deletion
    color #dc322f
